import os
import secrets

SESSION_TYPE = "filesystem"

LOG_LEVEL = '' # Set to 'DEBUG' for detailed logs, 'INFO' for general logs, 'WARNING' for warnings, 'ERROR' for errors

# Generate a secure random key for sessions
SECRET_KEY = '' # put a long random string here and NEVER change it

# Discord OAuth2 Credentials
DISCORD_CLIENT_ID = '' # Discord application ID
DISCORD_CLIENT_SECRET = '' # Discord application secret
DISCORD_REDIRECT_URI = '' # Redirect URI for Discord OAuth2
DISCORD_GUILD_ID = ''  # AJAC Discord server ID
DISCORD_BOT_TOKEN = "" # Discord bot token

# Discord Role IDs
RED_TEAM_ROLE = ''     # Red Team role ID
BLUE_TEAM_ROLE = ''    # Blue Team role ID
ADMIN_ROLE = ''        # Admin role ID

SESSION_FILE_DIR = '' # Directory for session files