import os
import secrets

# Flask Configuration
DEBUG = False
TESTING = False

# Session Configuration
SESSION_TYPE = "filesystem"
SESSION_FILE_DIR = '' # Directory for session files

# Logging Configuration
LOG_LEVEL = '' # Set to 'DEBUG' for detailed logs, 'INFO' for general logs, 'WARNING' for warnings, 'ERROR' for errors

# Security Configuration
SECRET_KEY = '' # put a long random string here and NEVER change it

# Discord OAuth2 Credentials
DISCORD_CLIENT_ID = '' # Discord application ID
DISCORD_CLIENT_SECRET = '' # Discord application secret
DISCORD_REDIRECT_URI = '' # Redirect URI for Discord OAuth2
DISCORD_GUILD_ID = ''  # AJAC Discord server ID
DISCORD_BOT_TOKEN = "" # Discord bot token

# Discord Role IDs (for your user permission system)
RED_TEAM_ROLE = ''     # Red Team role ID
BLUE_TEAM_ROLE = ''    # Blue Team role ID
ADMIN_ROLE = ''        # Admin role ID
MISSION_MAKER_ROLE = '' # Mission Maker role ID

# Base URL for the Discord bot API
BOT_API_URL = 'http://localhost:8000'
